*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

section {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
}

.step {
  background-color: #ff9a4b;
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.image {
  width: 280px;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.image1 {  
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png);
}

.image3 {
  background-image: url(img/flow03.png);
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}